@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

*, *::before, *::after {
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

/* navigation styles start here */

@media screen and (min-width: 250px){

  .img{
    height: 190px;
    width: 318px;
  } 

}

/*-------------------Menu Br-------------------*/
header {
  background-image: linear-gradient(black, #083b66);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}
.logo{
  color: white;
  font-family: 'Odibee Sans', cursive;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;

}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  /*background: rgba(0,0,255,0.3);*/
  background: #083b66;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #9fb9cf;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);

}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
/*----------------  section 2  -----------------*/

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  padding: 8px 12px;
  position: absolute;
  bottom: 25%;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-family: 'Lobster', cursive;
}

.paragraf{
  color: white;
  padding: 8px 12px;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: 15px ;
  font-family: 'Comfortaa', cursive;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 80px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  display: inline-block;
  transition: background-color 0.6s ease;
  padding-left: 20px;
}

.active, .dot:hover {
  background-color: yellow;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;

}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.image{
  margin-top: 78px;
  opacity: ;
}

.prev, .next{font-size: 11px}


/*------------     sectin 3           -----------*/
.section{
    margin-top: -10px;
    background-image: linear-gradient(#083b66, white);
}
.head{
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.program{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.img{
  height: 200px;
  widows: 500px;
  border-radius: 3px;
}
.description p{
  width: 90%;
  text-align: justify;
  padding-left: 35px;
  padding-bottom: 20px;
  color: black;
}
.need-color{
  color: white !important;
}
.description h2{
  color: #083b66;
}
/*-------------        secton 4          ----------*/

.myimg{
  width:95%;
  height: 60%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.aboutme{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  background-image: linear-gradient(white, #083b66);
}

.aboutme h3{
  color: #083b66;
  text-align: center;
  font-size: 30px;

}
.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.about p{
  margin-top: 40px;
  color: white;
  width: 90%;
  text-align: justify;
}
.lineh{
  margin-top: 40px;
  background-color: black;
  width: 40%;
  height: 2px;
}
.linev{
  display: none;
}
/*------------------ section 5 ----------------*/
.section-5{
  background-image: linear-gradient(#083b66, black);
  padding: 0  30px 0 30px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}
.click{
  color: white;
}
.diagram-row{
  display: flex;
}
.diagram-line-1{
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: width 3s;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
}
.diagram-line-1:hover{
  width: 50%;
}
.diagram-line-2{
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: width 3s;
  background-color: green;
  border-radius: 5px;
}
.diagram-line-2:hover{
  width: 80%;
}
.diagram-line-3{
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: width 3s;
  background-color: orange;
  border-radius: 5px;
}
.diagram-line-3:hover{
  width: 30%;
}
/*-------------    section 6   ----------------*/
footer{
  background: black;
  bottom: 0;
}
.icon{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.icon-row{
  padding-top: 30px;
  padding-bottom: 30px;
}
.fa-html5, .fa-css3-alt, .fa-js{
  cursor: pointer;
  padding: 0 20px;
  font-size: 50px;
  color: grey;
}
.fa-html5:hover{
  color: white;
  transition: 300ms ease
}
.fa-css3-alt:hover{
  color: green;
  transition: 300ms ease
}
.fa-js:hover{
  color: yellow;
  transition: 300ms ease
}
.icon-row-2{
  padding-top: 40px;
  padding-bottom: 35px;
}
.fa-facebook-square, .fa-youtube, .fa-instagram{
  cursor: pointer;
  color: grey;
  padding: 0 10px;
  font-size: 17px;
}
.fa-facebook-square:hover{
  color: #083b66;
}
.fa-youtube:hover{
  color: #e02424;
}
.fa-instagram:hover{
  color: pink;
}
.create{
  color: white;
  padding-bottom: 20px;
  text-align: center;
}

/*------------------------------


           article page 2


--------------     section 1        ------------*/
.all-article{
  background: white;
}

.article{
  padding-top: 100px;
  padding-bottom: 30px;
}
.blog-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-image-2{
  display: none;
}

.jsjs{
  height: ;
  width: 100%;
}
.js{
  height: ;
  width: 100%;
}
}
/*.desktop, .mobile{
  border: 10px solid white;
  width: 310px;
  height: 200px;
}*/

.art-head{
   text-align: center;
   font-size: 35px;
   margin-bottom: 55px;
}
.blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  padding-bottom: 40px;  
}
.article-img{
  border-radius: 5px;
  width: 310px;
  height: 200px;
}
.grey-line{
  margin-left: 20px;
  height: 200px;
  width:  2px;
  background: grey;
}
.blog-head{
  text-align: center;
  padding-left: 20px;
  color: black;
}

.blog-description p{
  text-align: justify;
  width: 300px;
  color: black;
}
.number{
  display: flex;
  justify-content: center;
}
.number div{
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  background: #083b66;
  margin: 0px 5px 10px 5px;
  cursor: pointer;
}
.active{
  text-decoration: underline !important;
}


/*----------------- blog 1  --------------------*/
.back-color{
  background: #f2f2f2;
}
.blog-back{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.back-article{ 
  margin-top: 100px;   
  float: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.just-blog{
 position: absolute;
 padding: 0;
 margin: 0;
 text-align: center;
 margin-top: 100px;
}
.html-introduction{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
} 
.text-html h2{
  padding-left: 5px
}

.text-html p{

  width: 300px;
  text-align: justify;
}
.add-more{
  background: #91bfe6;
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.add-more img{
  border-radius: 5px;
  height: 180px;
  width: 320px;
}
.add-more h3{
  color: black;
  padding-left: 15px;
}
.add-more p{
  color: black;
  margin-top: -12px;
  padding-left: 15px;
}


/*---------- contact form----------*/


.contact-forms{
  padding-top: 100px;
  background-color: #f2f2f2;
}
.contact-head{
  text-align: center;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #083b66;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0a4678;
}

.container {
  border-radius: 5px;
  padding:5% 5%;
}



@media screen and (min-width: 750px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 4px;
    background: #9fb9cf;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }

  /*------------------------2-------------------*/
  
  .prev, .next {
  top: 55%;
}
  .text {  
    font-size: 50px;
    bottom: 40%;
  }
  .paragraf{  
    font-size: 15px;
    bottom: 30%;
  }
    /*------------------------3-------------------*/

  .program{
    justify-content: space-around;
    flex-direction: column;
  }
  .description p{
    padding-left: 12%;
  }
  .need-color{
    color: black !important;
}


  /*----------------------  4  -----------------*/
  .myimg{
    height: 250px;
    width: 400px;
  }
  .about{
    flex-direction: row;
  }
  .about p{
    width: 40%;
  }
  .linev{
    display: none;
  }
  .lineh{
    display: block;
    background-color: black;
    width: 2px;
    height: 290px;
  }
  /*------------------  5   ---------------*/
  .section-5{
    display: none;
  }
  /*----------------   6  ------------------*/
  .icon{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .creator{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left:20px;
    padding-right: 20px;
  }
  .icon-row-2{
    padding-right: 10px;
  }
 .create{
    text-align: left;
  }
 

  .blog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    padding-bottom: 40px;  
  }
  .blog-head{
    text-align: left;
  }
  .blog-description p{
    padding-left: 20px;
    width: 430px;
  }
  .back-article{     
    width: 630px;
    height: 350px;
  }
   .text-html p{
    width: 630px;
  }


}
@media screen and (min-width: 1024px){
  .text-html p{
    width: 630px;
  }
}


@media screen and (min-width: 1124px) {
  .program{
    justify-content: space-around;
    flex-direction: row;
  }
  .description p{
    padding-left: 10%;
  }
  .article{
    padding-top: 100px;
    padding-bottom: 30px;
  }
.blog-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  .blog-image-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .js{
    height: 400px;
    width: 600px;
    border:10px solid white;
  }
  .desktop, .mobile{
    border: 10px solid white;
    width: 310px;
    height: 200px;
  } 
  .add-more{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
 }
}

